@media screen and (min-device-width: 850px){

    #home_btn{
        display: none;
    }

.extra_info_toggle_label{
    cursor: pointer;
}

.intro{
    width: 100%;
    height: 100vh;
    z-index: 0;
}

.page_1, .about_section, #technologies, .page_4,.page_5{
    z-index: 10;
    background-color: rgb(246, 243, 237);
}

/* ======== REVEAL ANIM LAPTOP VIEW ========== */

.reveal_anim1{
    opacity: 0;
    transform: translate(-3rem, 0rem);
    transition: all 1s ease-in-out 200ms;
}
.reveal_anim2{
    opacity: 0;
    transform: translate(3rem, 0rem);
    transition: all 1s ease-in-out 200ms;
}
.reveal_anim4{
    opacity: 0;
    transform: translate(0rem, 5rem);
    transition: all .8s ease-in-out 250ms;
}

.reveal_anim3{
    opacity: 0;
    transform: translate(0rem, 5rem);
    transition: all .8s ease-in-out 250ms;
}



.show{
    opacity: 1;
    transform: translate(0%);
}

/* =========================================== */


.intro video{
    all: unset;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -10;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);

}

    header{
        display: none;
    }

    
    .laptop_nav_sides::before, .laptop_nav_up_down::before{
        content: " ";
        position: absolute;
        margin-bottom:3rem;
        height: .1rem;
        width: 9.5rem;
        border: 4px solid rgba(255, 255, 255, 0.29);
        box-shadow: 3px 50px 25px 1px rgba(0, 0, 0, 0.7);
        border-radius: .4rem;
        transform: scale(0,1);
        transform-origin: right;
        transition: transform .5s ease-in-out 300ms;
    }
    
    .laptop_nav_sides:hover::before, .laptop_nav_up_down:hover::before {
        transform: scale(1,1);
        transform-origin: left;
        backdrop-filter: blur(2px);
        z-index: -1;
    }
    
    .laptop_nav_sides:hover, .laptop_nav_up_down:hover{
        color: rgba(176, 214, 118, .990);
        transition: .5s ease-in-out;
    }

    .laptop_nav_sides, .laptop_nav_up_down{
        transition: 1s ease-in-out;
        color: rgb(246, 243, 237);
        font-size: 1.5rem;
    }


    
    .nav_links{
        cursor: pointer;
        display:flex;
        justify-content: center;
        width: 28rem;
        align-items: center;
        height: 4rem;
    }

    .page_1{
        all:unset;
        display: none;
    }

    .personal_logo{
        display: none;
    }
/*  =================== LOGO AND LAPTOP VIEW NAV LINKS ================================ */
    .personal_logo_container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 100%;
        flex-direction: column;
    }
    .personal_logo_container_center_row{
        display: flex;
        height: 60svh;
        width:70svw;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }
    .personal_logo3{
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        z-index: 6;
        border-radius: 20rem;
        border: 1rem solid rgba(255, 255, 255, 0.364);
        padding: 1rem;
        height: 32rem;
        width: 32rem;
        cursor: pointer;
        transition: 2s ease-in-out 1000ms;
    }


    .personal_logo3:hover{
        opacity: 90%;
        height: 30rem;
        padding: .5rem;
        transform: rotate(360deg);
        border-radius: 7rem;
        width:30rem ;
        border: .5rem solid rgba(176, 214, 118, .290);
        transition: .9s ease-in-out 600ms;
        box-shadow: 5px 5px 2px rgba(41, 41, 41, 0.604),
        15px 10px 10px rgba(0, 0, 0, 0.405),
        inset -1px -1px 5px rgb(255, 255, 255,.2),
        inset 55px 40px 10px rgba(0, 0, 0, 0.5);
    }

/* =================== GLASS WINDOWS =========================== */
        
        .glass_window{
            margin-top: 0rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            z-index: 0;
            border: 10px solid rgba(246, 243, 237, 0.923);
            box-shadow: 15px 15px 50px 1px rgba(0, 0, 0, 0.306),
            2px 3px 2px 2px rgba(255, 255, 255, 0.258),
            inset -1px -1px 5px rgba(234, 222, 222, 0.2),
            inset 15px 15px 30px rgba(0, 0, 0, 0.284);
            backdrop-filter: blur(0px);
            -webkit-backdrop-filter: blur(0px);
            background-color: rgba(246, 243, 237, 0.020);
            height:5rem;
        }
        /* ====== Blank Section between glass windows ===== */
        .blank_section{
            height: 8rem;
            background-color: rgb(246, 243, 237);
        }
        

        /* =============== ABOUT =============== */
        .about_section{
        height: 110vh;
        margin: 0rem;
    }

    .more_about_me{
        width: 35.5rem;
        height: 5rem;
        padding: 1rem;
        position: absolute;
        top: 30rem;
        transition: 1s ease-in-out;


    }
    .extra_info_toggle:checked ~ .more_about_me{
        height: 43rem;
        position: absolute;
        top: 56rem;
        transition: height 1s ease-in-out;
        animation: box_shadow 1.4s linear ;
        height: 50rem;
    }
    .more_about_me .about_paragraph, .more_about_me .about_title{
        opacity: 0;
        transition: 1s ease-in-out 200ms;
    }
    .extra_info_toggle:checked ~.more_about_me .about_paragraph, .more_about_me .about_title{
        opacity: 1;
    }
    .extra_info_toggle_label::after{
        content: "x";
        font-size: 3rem;
        position: absolute;
        top: 101rem;
        left: 63rem;
    }
    .extra_info_toggle_label::before{
        content: "^";
        margin-top: -1rem;
    }




    @keyframes box_shadow {
        0%{box-shadow: none;}
        50%{box-shadow: 2px 3px 20px 3px rgba(255, 255, 255, 0.724), 
            3px 2px 20px 3px white; background-color: rgba(255, 255, 255, 0.036);}
        100%{box-shadow: none;}
        
    }
    .about_paragraph{
        text-align: start;
        background-color: white;
        letter-spacing: 2px;
        font-weight: 500;
        font-size: 1rem;
    }
    .about_decor_line{
        height: 6rem;
        width: 2rem;
        border-radius: 5rem;
        background-color: rgb(246, 243, 237);
        box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.800),
        0px 1px 2px 3px rgba(0, 0, 0, 0.175);
        margin: 2rem 16.5rem 3rem;
    }

    .en_language_selection, .es_language_selection{
        font-size: 1.8rem;
        padding: 0rem .5rem;

    }

        
    .container_about{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }
    .about_info{
        height: 40rem;
        width: 35rem;
    }
    .about_img{
        min-width: 35rem;
    }

    .profile_pic_container{
        margin-bottom: 12rem;
        z-index: 3;
        display: flex;
        align-items: center;
    }


    .profile_pic_mobile{
        display: none;
    }
    .profile_pic{
        display: block;
        border-radius: 1rem;
        background-color: none;
        z-index: 3;
        height: 30rem;
        width: 26rem;
        box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.800),
        8px 15px 12px 3.5px rgba(0, 0, 0, 0.405);
        border: 6px solid rgb(246, 243, 237);
        object-fit: cover;

    }


    .about_name{
        font-size: 4rem;
        color: rgb(31, 24, 24);
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.416);
    }
    .last_name{
        color: rgb(246, 243, 237);
        font-size: 2rem;
    }
    .about_title{
        color: rgb(246, 243, 237);
        margin: 1.8rem 0rem;
        text-shadow: 1px 1px 1px rgb(255, 255, 255);
    }
    /* ======================================== */
    /* =========== TECHNOLOGIES ================= */
    .page_3{
        all: unset;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.114);
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
    }
    .technologies_title{
        margin: 5rem;
        font-size: 3rem;

    }
    .row{
        margin: 0}

    .tech_container{
        all: unset;
        margin-top: 0;
        width: 60%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo{
        height: 5rem;
        margin: 1rem;
        border: 6px solid rgb(246, 243, 237);
        padding: .1rem;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.800),
        8px 5px 5px rgba(0, 0, 0, 0.385);
        transition: 200ms ease-in-out;    
    }

    .logo:hover{
        transition: 300ms ease-in-out;
        box-shadow: none;
        box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.800),
        1px 1px 5px rgba(0, 0, 0, 0.305);
        cursor: pointer;

    }

    /* ============================================= */
    /* ============ PROJECTS ================== */
    .page_4{
        height: 100vh;
        background-color: rgb(246, 243, 237);
        display: flex;
        flex-direction: column-reverse;
        justify-content:center;
        align-items: center;
    }

    .coming_soon_msg{
        color: rgb(246, 243, 237);
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
        position:absolute ;
        left: 140.5rem;
        width: 20rem;
        top: 28rem;
        font-size: 1.5rem;
        z-index: 40;
    }

    .projects_area{
        display: flex;
        border: 10px solid rgb(246, 243, 237);
        height: 35rem;
        width: 35rem;
        overflow-x: auto;
        border-radius: 50%;
        align-items: center;
        background: rgba(255, 255, 255, 0.109);
        box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.800),
        8px 25px 10px rgba(0, 0, 0, 0.405),
        inset -1px -1px 5px rgb(255, 255, 255,.2),
        inset 15px 25px 15px rgba(0, 0, 0, 0.5);
        scroll-snap-type: both mandatory;
        overflow-y: hidden;
        transition: .5s ease-in-out;
    }

    .projects_area:hover{
        cursor:pointer;
        transition: .5s ease-in-out;
        background: white;
        box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.800),
        8px 25px 10px rgba(0, 0, 0, 0.405),
        inset -1px -1px 5px rgb(255, 255, 255,.2),
        inset 15px 25px 15px rgba(0, 0, 0, 0.5);

    }
    .each_project{
        height: 35rem;
        width: 35rem;
        display: flex;
        justify-content: space-around;
        padding: 15rem;
        border-radius: 50%;
        margin: 0rem 10rem;
        scroll-snap-align: start;
    }
    .projects_title{
        display: none;

    
    }
    .projects_title2{
        display: block;
        margin-top: 2rem;
        margin-bottom: 1rem;
        text-align: center;
        font-size: 3rem;
        filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
        
    }
    .project_name{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .project_info_p{
        font-size: 1rem;
    }
    .project_selection_a{
        font-size: 1.2rem;
        padding: 0rem .5rem;
    }

    .project_view_options{
        width: 10rem;

    }
    .project_selection{
        width:15rem;
        padding: 1.5rem;
        border-radius: 20px;
    }
    .project_img{
        margin-right: 2rem;
        height: 15rem;
        width: 15rem;
    }
    .swipe_indicator{
        font-size: 1rem;
        animation: swipe 5s linear infinite;
    }

    .loading_cir_container{
        width: 45svw;
    }

    @keyframes swipe {
        0%{color: rgba(246, 243, 237, 0.658);margin-right: 2rem;}
        50%{color: rgba(0, 0, 0, 0.386); margin-left: 4rem;}
        100%{color: rgba(246, 243, 237, 0.575);margin-right: 2rem;}
        
    }

    /* ============================================= */
    /* ================== CONTACT ====================== */
    .contact_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .contact_logos{
        all: unset;
        margin: 1.2rem 1.5rem 0rem;    
        height: 4.5rem;
        border-radius: 50%;
        border: 10px solid rgb(246, 243, 237);
        padding: .7rem;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.800),
        8px 5px 5px rgba(0, 0, 0, 0.405),
        inset -1px -1px 5px rgb(255, 255, 255,.2),
        inset 15px 15px 15px rgba(0, 0, 0, 0.5);
        transition: .5s ease-in-out;
    }

    .contact_title{
        padding: 3rem 0rem 10rem;
        font-size: 3rem;
    }
    .contact_options{
        display:block;
        margin: 0rem 0rem 25rem;
    }
    .contact_logos:hover{
        transition: .4s ease-in-out;
        box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.800),
        15px 10px 10px rgba(0, 0, 0, 0.405),
        inset -1px -1px 5px rgb(255, 255, 255,.2),
        inset 55px 40px 10px rgba(0, 0, 0, 0.5);
    }

    .contact_decor_line,.contact_decor_line_left,.contact_decor_line_right{
        height: 10rem;
        width: 3rem;
        border-radius: 5rem;
        background-color: rgb(246, 243, 237);
        box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.800),
        0px 1px 2px 3px rgba(0, 0, 0, 0.185);
        position: absolute;
    }
    .contact_decor_line{
        margin-top: 35rem;
        margin-left: .5rem;
    }
    .contact_decor_line_left{
        margin-top: 35rem;
        margin-right: 55rem;
    }
    .contact_decor_line_right{
        margin-top: 35rem;
        margin-left: 55rem;
    }

    /* ============================================= */


    .nav_toggle_label{
        display: none;
    }
    .name_logo{display: none;}

    @keyframes light {
        0%{color: rgba(246, 239, 239, 0); text-shadow: 2px 1px 2px rgb(21, 21, 21);}
        65%{color: rgba(255, 255, 255, 0.231); text-shadow: 4px 1px 6px rgba(255, 255, 255, 0.439);}
        70%{color: white;text-shadow: 5px 1px 10px rgba(255, 255, 255, 0.835);}
        72%{color: rgba(255, 255, 255, 0);text-shadow: 0px 1px 10px rgba(255, 255, 255, 0.035);}
        74%{color: rgba(255, 255, 255, 0.622);text-shadow: 3px 1px 12px rgba(255, 255, 255, 0.835);}
        76%{color: rgba(255, 255, 255, 0);text-shadow: 2px 1px 10px rgba(255, 255, 255, 0);}
        78%{color: rgba(255, 255, 255, 0.536);text-shadow: 4px 1px 4px rgba(255, 255, 255, 0.835);}
        80%{color: rgba(255, 255, 255, 0);text-shadow: 2px 1px 4px rgba(255, 255, 255, 0);}
        100%{color: rgba(255, 255, 255, 0.728);text-shadow: 3px 1px 4px rgb(255, 255, 255);}
        
    }




    
}

@media screen and (min-width: 992px){
    .page_4{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
    }
    .projects_area{
        height: 40rem;
        width: 40rem;
    }
    .each_project{
        width: 40rem;
        height: 40rem;
    }
    .projects_title2{
        margin-right: 5rem;
    }
    .contact_logos{
        height: 5.4rem;
        margin: 0rem 3rem
    }
    .logo{
        height: 5.1rem;
        margin: 1.2rem;
    }
}

/* Portrait*/
@media only screen and (min-device-width: 1290px) and (min-device-height: 1000px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape) 
{
    .blank_page{
        height: 5rem;
        min-width: 20rem;
        margin: 2rem 0rem 3rem;
        border-radius: 20rem;
        border: 10px solid rgb(246, 243, 237);
        box-shadow: 15px 15px 2000px 1px rgba(0, 0, 0, 0.316),
        2px 3px 2px 2px rgba(255, 255, 255, 0.258),
        inset -1px -1px 5px rgba(234, 222, 222, 0.2),
        inset 10px 10px 15px rgba(0, 0, 0, 0.884); 
        background: rgb(246, 243, 237);
    }
    .blankP_1{
        min-width: 30rem;
    }
    .page_1{
        height: 100vh;
        background: linear-gradient(to left, rgba(0, 0, 0, 0.7) 25%, rgba(0, 0, 0, 0.7)), url(./imgs/bg_pics/el_morro.jpeg);
        background-size:cover;
        background-blend-mode:multiply;
        background-position: 70%;
        background-repeat: no-repeat;
        scroll-snap-align: always;
    }
} 