/* =================== LANDSCAPE VIEW CSS ================== */
@media (orientation: landscape) and (max-height: 450px) and (max-width: 844px) {
    .page_1{
        height: 100vh;
        background: linear-gradient(to left, rgba(0, 0, 0, .2) 10rem, rgba(0, 0, 0, 0.3)), url(./imgs/bg_pics/pr_beach.jpeg);
        object-fit: cover;
        background-position: 100%;
        background-size: cover;
        display: flex;
        scroll-snap-align: always;
    }
    .about_name{
        margin-top: 1rem;
    }
    #about_1, #about_2{
        margin: 0rem 10rem;
    }
    .technologies_title,.projects_title, .contact_title{
        margin-top: 1.5rem;
    }
    
    .about_section{
        height: 225vh;
        margin-bottom: 30rem;
    }

    .personal_logo{
        height: 20rem;
        width: 25rem;
        border-radius: 3rem;

    }

    .more_about_me{
        position: absolute;
        left: 8rem;
        height:  52rem;
        width: 32rem;

    }
    .extra_info_toggle:checked ~ .more_about_me{
        position: relative;
        top: -44rem;
        padding-bottom: 4rem;
        padding-top: .1rem;

    }

    .extra_info_toggle_label::before{
        margin-top: 0rem;
    }
    
    .extra_info_toggle_label::after{
        position: absolute;
        top: 97rem;
        left: 22rem;
    }
    .extra_info_toggle_label::after{
        content: "x";
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 0rem;
        position: relative;
        z-index: 10;
        left: 0rem;
        top: 6rem;
    }
    .name_logo{
    display: none; 
    }
    header{
        max-width: 4rem;
        background-color: rgba(0, 0, 0, 0.303);
        border-radius: 1rem;
        margin: .5rem 1rem 2rem;
    }
    nav{
        width: 820%;
        border-radius: 1rem;
        margin-top: 1rem;
        display: flex; 
        position: absolute;
        left: 120%;
        top: -25%;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        background-color: rgba(122, 109, 109, 0.523);
    }
    .projects_area{
        margin: 0rem 4rem;
    }
}



@media screen  and (min-width: 480px){
    .about_paragraph, .about_p{
        font-size: 1.1rem;
        padding: 1rem;
    }
}

@media screen  and (min-width: 600px){
    .about_paragraph, .about_p{
        font-size: 1.1rem;
        padding: 1.5rem;
        margin: 0rem 2rem;
    }
}
